
@media (max-width:599px){
.post_container{
        background-color:rgba(224, 142, 135, 0.2);
        display:grid;
		grid-template-columns:90vw;
		grid-template-rows:auto;
}
	
h3{
		border-top: 1px solid rgb(236, 22, 51);
		padding-top:1vw;
		margin-bottom:2vh;
}

.profile{
		width:90vw;
		height:22vh;
		border-radius:3%;
		display: grid;
	    grid-template-columns: 25vw 65vw;
		grid-template-rows: auto;
		grid-template-areas:
			"pic info"
			"li li";
		margin-bottom:2vh;
}
	
.profile_picture{
		width:20vw;
		height:12vh;
		grid-area: pic;
		margin-left:4vw;
		margin-right:1vw;
		margin-top:1vh;
}
	
.profile_info{
		font-size:3vw;
		grid-area:info;
		border-bottom:1px solid rgb(236, 22, 51);
		margin-left:3vw;
		margin-bottom:0vh;
		padding-bottom:0vh;
	}

	
	
#social_media{
		display:flex;
		flex-direction:row;
		justify-content: space-evenly;
		color:white;
		margin-left:3vw;
		padding-bottom:1vh;
		grid-area:li;
		font-size:2.8vw;
		margin-top:0vw;
}

i{
	color:white;
	margin-right:1vw;
}
	
.post{
		width:90vw;
		font-size:2.8vw;
		margin-bottom:2vh;
}
	
blockquote{
		padding-top:2px;
		text-align:left;
		width:70vw;
		margin-right:5vw;
}
	
.extra_text{
		display:none;
}
	
.more_text{
		display:none;
}
	
#read_more{
		text-align: center;
		text-decoration-line: underline;
		font-size:3vw;
		background-color:rgba(224, 142, 135, 0.5);
		width:90vw;
		margin-bottom:1vh;
	}
	
#back{
		width:43vw;
		background-color:rgba(224, 142, 135, 0.2);
		border:1px solid rgba(236, 22, 51, 0.5);
		color: rgb(236, 22, 51);
		text-transform:uppercase;
		border-radius:5px;
		padding-top: 1vh;
		padding-bottom: 1vh;
		margin-top:1vh;
}
	
#previous{
		width:43vw;
		background-color:rgb(236, 22, 51);
		border:1px solid rgb(236, 22, 51);
		color: white;
		text-transform:uppercase;
		border-radius:5px;
		padding-top:1vh;
		padding-bottom:1vh;
		margin-top:1vh;
}
	
}

@media (min-width:600px){
.post_container{
		background-color:rgba(224, 142, 135, 0.2);
		display:grid;
		grid-template-columns:65vw 25vw;
		grid-template-rows:auto;
		grid-template-areas:
		"h3 h3"
		"post p"
		"extra p"
		"more more"
		"option option"
		
}
	
h3{
	    border-top: 2px solid rgb(236, 22, 51);
		font-size:2.5vw;
		padding-top:0.5vw;
		margin-top:0vh;
		margin-bottom:4vh;
		padding-top:2vh;
		text-align:center;
		grid-area:h3;
	
}
	
.profile{
		width:15vw;
		height:47vh;
		display: grid;
	    grid-template-columns: 15vw;
		grid-template-rows: auto;
		grid-template-areas:
			"pic"
			"info"
			"li";
		margin-bottom:2vh;
		border-radius:3%;
		grid-area:p;
}
	
.profile_picture{
		width:8vw;
		height:15vh;
		grid-area: pic;
		margin-left:4vw;
		margin-top:1vh;
	
}
	
.profile_info{
		font-size:1vw;
		grid-area:info;
		margin-left:0.5vw;
}
	
#social_media{
		display:flex;
		flex-direction:column;
		align-items:flex-start;
		font-size:1vw;
		padding-top:0vh;
		padding-left:1vw;
		border-top: 1px solid rgb(236, 22, 51);
		padding-bottom:2vh;
		grid-area:li;
}

#twitter,
#instagram,
#facebook{
		margin-bottom:0vh;
		padding-top:0vh;
		margin-top:0vh;
		padding-left:0vh;
		color:white;
}

i{
	color:white;
	width:13px;
	padding-right:2vw;
}
	
.post{
		width:60vw;
		font-size:1vw;
		margin-left:3vw;
		margin-top: 2vw;
		margin-right:7vw;
		grid-area:post;
}
	
blockquote{
		padding-top:0px;
		padding-right:3vw;
		margin-top:0vh;
		width:50vw;
		border-left:5px solid rgb(236, 22, 51);
}

#george{
	text-align:center;
}
	
.extra_text{
	  font-size:1vw;
	  grid-area:extra;
	  margin-left:3vw;
	  margin-right:7vw;
	  margin-bottom:0.5vh;
	  margin-top:0.5vh;
}

.more_text{
	font-size: 1vw;
	grid-area:more;
	margin-left:3vw;
	margin-right:7vw;
	margin-top:0.5vh;
	margin-bottom:0vh;
	padding-bottom:1vh;
}
	
#read_more{
	display:none;
	}
	
#option{
	width:90vw;
	display:flex;
	flex-direction:row;
	grid-area:option;
}

#back{
	width:20vw;
	background-color:rgba(224, 142, 135, 0.2);
	border:1px solid rgba(236, 22, 51, 0.5);
	color: rgb(236, 22, 51);
	text-transform:uppercase;
	border-radius:5px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left:3vw;
	margin-top:1vh;
	margin-right:50vw;
}
	
#previous{
	width:20vw;
	color:white;
	background-color:rgb(236, 22, 51);
	border:1px solid rgb(236, 22, 51);
	text-transform:uppercase;
	border-radius:5px;
	padding-top:1vh;
	padding-bottom:1vh;
	grid-area:previous;
	margin-right:5vw;
	margin-top:1vh;
}

}