 

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');


h1{
    color:rgb(236, 22, 51);
    font-family:'Monoton', sans-serif;
}

li{
    color:rgb(236, 22, 51);
	list-style-type:none;
}

h2{
    color:rgb(63, 59, 59, 0.5);
    font-family: 'Monserrat', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

a{
   color:red;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.25vw;
}

footer{
    font-family: 'Monserrat', sans-serif;
    font-size: 15px;
    color:white;
    background-color: rgb(236, 22, 51);
}

